:root{
    --color-white: #F0ECE5;
    --color-black: #161A30;
    --color-blue: #31304D;
    --color-lblue: #B6BBC4;
}

html, body {
    height: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to top, #161A30, black);
}

body > div {
    filter: drop-shadow(0px 10px 8px rgb(104, 106, 204));
}

.heading {
    font-family: Impact;
    font-size: clamp(1rem, 3vw, 4rem);
    color: var(--color-white);
    text-align: center;
}

.view {
    display: flex;
    justify-content: center;
    gap: 1.6em;
    width: 80%;
    max-width: 100vw;
}

.view > * {
  min-width: 0;
}

#myWindow {
    flex: 2;
    border-radius: 8px;
    aspect-ratio: 16/9;
    width: 100%;
}

.controls {
    flex: 1;
    background-color: var(--color-blue);
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 8px;
    gap: 1.2em;
    padding: 1em;
    color: var(--color-white); 
}

#gradient-bar {
  height: 40px;
  background: linear-gradient(to right, black, black, black);
  border: 1px solid #ccc;
  position: relative;
  margin-bottom: 1em;
}

.gradient-stop {
  position: absolute;
  top: -5px;
  width: 12px;
  height: 12px;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  transform: translateX(-50%);
}

.test2 {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 8px;
    width: 80%;
    margin: 2em auto;
    padding: 2em;
    box-sizing: border-box;
}

form {
    text-align: left;
}

button {
    background-color: var(--color-lblue);
    color: #000;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e6c800;
}

@media (max-width: 782px) {

    .heading {
        width: 80%;
        text-align: left;
    }
    .view{
        flex-direction: column;
    }

    #myWindow {
        aspect-ratio: 10/12;
    }
}