:root{
    --color-white: #F0ECE5;
    --color-black: #161A30;
    --color-blue: #31304D;
    --color-lblue: #B6BBC4;
}

html, body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-black)
}

.heading {
    font-size: 2em;
    color: var(--color-white);
    text-align: center;
}

.view {
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 80%;
    max-width: 100vw;
}

.view > * {
  min-width: 0;
}

#myWindow {
    flex: 2;
    border-radius: 8px;
}

.controls {
    flex: 1;
    background-color: var(--color-blue);
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 8px;
    gap: 1.2em;
    padding: 1em;
    color: var(--color-white);
}

#gradient-bar {
  height: 40px;
  background: linear-gradient(to right, red, green, blue); /* will be replaced dynamically */
  border: 1px solid #ccc;
  position: relative;
  margin-bottom: 1em;
}

.gradient-stop {
  position: absolute;
  top: -5px;
  width: 12px;
  height: 12px;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  transform: translateX(-50%);
}

.test2 {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 8px;
    width: 80%;
    margin: 2em auto;
    padding: 2em;
    box-sizing: border-box;
}


@media (max-width: 782px) {
    .view{
        flex-direction: column;
    }

}